#email {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  #pwd {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    
  }
  
  #submit {
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
  }

  label {
      /* color: whitesmoke; */
      font-size: large;
  } 

  h2 {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: large;
      /* color: whitesmoke; */
  }
  .container my-1 {
      font-size: large;
  }
  
  
 